@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels
@{ 
    var site = Model.Content.Site() as ContentModels.SiteWebsite;

}
<header>
    <h1>LOGO</h1>
</header>