<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <remove name="umbracoDbDSN" />
  <add name="umbracoDbDSN" connectionString="server=LTH3;database=umbraco-testwebsite;user id=sa;password='HeSuMe27@2018'" providerName="System.Data.SqlClient" />
  <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
</connectionStrings>